<h1> Random Cocktail</h1>

<h2><%= name %></h2>

<img src="<%= image %>" width="300">

<p><strong>Category:</strong> <%= category %></p>
<p><strong>Glass:</strong> <%= glass %></p>

<h3>Ingredients:</h3>
<ul>
  <li><%= ingredient1 %></li>
  <li><%= ingredient2 %></li>
  <li><%= ingredient3 %></li>
</ul>

<p><strong>Instructions:</strong></p>
<p><%= instructions %></p>

<br>
<a href="/">Get Another Cocktail</a>